[resources]
js[] = "bootstrap.bundle.js"
css[] = "bootstrap.css"
css[] = "styles.css"
==
{# Use this file to include your resources in your theme #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel:400,500,600,700,800,900&amp;display=swap">
{# bootstrap icon variable fonts #}
<style>
    .bi {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: -0.125em;
        fill: currentcolor;
    }
</style>
